# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and with "Use USB for
# communication" disabled.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select the
# USART3 serial port, which is broken out on the 10 pin IDC cable used
# for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]
recover_velocity: 50.0

##############################
####         AXES         ####
##############################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 229
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_max: 246
position_min: -3

##############################
####       EXTRUDER       ####
##############################


[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 32.8879753340185
#measured 32.626629
#200*16/97.3=32.8879753340185
#200*16*0.0102774922918808=32.88797533401856
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
# min_extrude_temp: 0
# pressure_advance: 0.00394
# pressure_advance_smooth_time: 0.040

##############################
####         BED          ####
##############################

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

##############################
####         FANS         ####
##############################
[fan]
pin: PA0

[heater_fan Hotend_Fan]
# pin: rpi:gpio20
pin: PA13
# pin: PA14
# from ICSP port
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

##############################
####       BL TOUCH       ####
##############################

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -43.5
y_offset: -8.9
z_offset: 2.4
stow_on_each_sample: False
probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5          # default is 20mm/s

[bed_mesh]
speed: 120
horizontal_move_z: 5
#samples: 2
mesh_min: 15, 15
mesh_max: 205, 205
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[screws_tilt_adjust]
screw1: 73.5,31
screw1_name: front left screw
screw2: 243.5,31
screw2_name: front right screw
screw3: 243.5,202
screw3_name: rear right screw
screw4: 73.5,202
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

# [filament_motion_sensor FILAMENTS]
# detection_length: 45.0
# extruder: extruder
# switch_pin: PA4
# pause_on_runout: True
# runout_gcode: 
#     PAUSE
# #insert_gcode: 
# #event_delay:
# pause_delay: 1

##############################
####          MCU         ####
##############################

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100,20  # an example

#[output_pin LED]
#pin: rpi:gpio21

[output_pin BEEPER_pin]
# pin: rpi:gpio22
pin: PB13
# from original display port
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[mcu]
serial: /dev/ttyAMA0
# serial: /dev/serial0
# serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor pi_temp]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4000 #3000
max_accel_to_decel:2000 
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 72.60
shaper_freq_y: 37.20
shaper_type: mzv


##############################
####       INCLUDES       ####
##############################

[include macros.cfg]

[include macros_gpio.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.082500, -0.005000, -0.012500, 0.055000, 0.030000
#*# 	  0.112500, 0.017500, -0.005000, 0.077500, 0.040000
#*# 	  0.060000, -0.027500, -0.030000, 0.067500, 0.070000
#*# 	  0.102500, 0.012500, -0.005000, 0.080000, 0.067500
#*# 	  0.117500, 0.020000, 0.007500, 0.087500, 0.070000
#*# tension = 0.2
#*# min_x = 15.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 15.0
#*# x_count = 5
#*# max_y = 205.0
#*# mesh_x_pps = 2
#*# max_x = 205.0
